.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/8.0.2/gc.properties
.gradle/8.0.2/checksums/checksums.lock
.gradle/8.0.2/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0.2/dependencies-accessors/gc.properties
.gradle/8.0.2/fileChanges/last-build.bin
.gradle/8.0.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
